Repository woong-jae/Algorithm-Crash, pull requests merged in 2022-08, with the labels that each got.

#346 SUbbb: [12899] 124 나라의 숫자
  Programmers/[12899] 124 나라의 숫자/SUbbb/12899.java
  Programmers/[12899] 124 나라의 숫자/SUbbb/README.md
Labels: Programmers

#347 SUbbb: [12973] 짝지어 제거하기
  Programmers/[12973] 짝지어 제거하기/SUbbb/12973.java
  Programmers/[12973] 짝지어 제거하기/SUbbb/README.md
Labels: Programmers

#361 SUbbb: [77486] 다단계 칫솔 판매
  Programmers/[77486] 다단계 칫솔 판매/SUbbb/77486.java
  Programmers/[77486] 다단계 칫솔 판매/SUbbb/README.md
Labels: Programmers

#370 SUbbb: [62050] 지형 이동
  Programmers/[62050] 지형 이동/SUbbb/62050.java
  Programmers/[62050] 지형 이동/SUbbb/README.md
Labels: Programmers

#366 SUbbb: [86053] 금과 은 운반하기
  Programmers/[86053] 금과 은 운반하기/SUbbb/86053.java
  Programmers/[86053] 금과 은 운반하기/SUbbb/README.md
Labels: Programmers

#354 ONE: [77486] 다단계 칫솔 판매
  Programmers/[77486] 다단계 칫솔 판매/ONE/77486.java
  Programmers/[77486] 다단계 칫솔 판매/ONE/README.md
Labels: Programmers

#371 ONE: [86053] 금과 은 운반하기
  Programmers/[86053] 금과 은 운반하기/ONE/86053.java
  Programmers/[86053] 금과 은 운반하기/ONE/README.md
Labels: Programmers

#374 ONE: [62050] 지형 이동
  Programmers/[62050] 지형 이동/ONE/62050.java
  Programmers/[62050] 지형 이동/ONE/README.md
Labels: Programmers

#372 Johoseong: [86053] 금과 은 운반하기
  Programmers/[86053] 금과 은 운반하기/Johoseong/86053.py
  Programmers/[86053] 금과 은 운반하기/Johoseong/README.md
Labels: Programmers

#369 Johoseong: [62050] 지형 이동
  Programmers/[62050] 지형 이동/Johoseong/62050.py
  Programmers/[62050] 지형 이동/Johoseong/README.md
Labels: Programmers

#362 Johoseong: [77486] 다단계 칫솔 판매
  Programmers/[77486] 다단계 칫솔 판매/Johoseong/77486.py
  Programmers/[77486] 다단계 칫솔 판매/Johoseong/README.md
Labels: Programmers

#356 Johoseong: [12973] 짝지어 제거하기
  Programmers/[12973] 짝지어 제거하기/Johoseong/12973.py
  Programmers/[12973] 짝지어 제거하기/Johoseong/README.md
Labels: Programmers

#355 Johoseong: [12899] 124 나라의 숫자
  Programmers/[12899] 124 나라의 숫자/Johoseong/12899.py
  Programmers/[12899] 124 나라의 숫자/Johoseong/README.md
Labels: Programmers

#375 woong-jae: [62050] 지형 이동
  Programmers/[62050] 지형 이동/woong-jae/62050.js
  Programmers/[62050] 지형 이동/woong-jae/README.md
Labels: Programmers

#363 woong-jae: [86053] 금과 은 운반하기
  Programmers/[86053] 금과 은 운반하기/woong-jae/86053.js
  Programmers/[86053] 금과 은 운반하기/woong-jae/README.md
Labels: Programmers

#358 woong-jae: [77486] 다단계 칫솔 판매
  Programmers/[77486] 다단계 칫솔 판매/woong-jae/77486.js
  Programmers/[77486] 다단계 칫솔 판매/woong-jae/README.md
Labels: Programmers

#353 woong-jae: [12973] 짝지어 제거하기
  Programmers/[12973] 짝지어 제거하기/woong-jae/12973.js
  Programmers/[12973] 짝지어 제거하기/woong-jae/README.md
Labels: Programmers

#350 woong-jae: [12899] 124 나라의 숫자
  Programmers/[12899] 124 나라의 숫자/woong-jae/12899.js
  Programmers/[12899] 124 나라의 숫자/woong-jae/README.md
Labels: Programmers

#357 JFe: [12899] 124 나라의 숫자
  Programmers/[12899] 124 나라의 숫자/JFe/12899.py
  Programmers/[12899] 124 나라의 숫자/JFe/README.md
Labels: Programmers

#364 JFe: [12973] 짝지어 제거하기
  Programmers/[12973] 짝지어 제거하기/JFe/12973.py
  Programmers/[12973] 짝지어 제거하기/JFe/README.md
Labels: Programmers

#365 JFe: [77486] 다단계 칫솔 판매
  Programmers/[77486] 다단계 칫솔 판매/JFe/77486.py
  Programmers/[77486] 다단계 칫솔 판매/JFe/README.md
Labels: Programmers

#376 JFe: [86053] 금과 은 운반하기
  Programmers/[86053] 금과 은 운반하기/JFe/86053.py
  Programmers/[86053] 금과 은 운반하기/JFe/README.md
Labels: Programmers

#367 KingDonggyu: [12899] 124 나라의 숫자
  Programmers/[12899] 124 나라의 숫자/KingDonggyu/12899.js
  Programmers/[12899] 124 나라의 숫자/KingDonggyu/README.md
Labels: Programmers

#368 KingDonggyu: [12973] 짝지어 제거하기
  Programmers/[12973] 짝지어 제거하기/KingDonggyu/12973.js
  Programmers/[12973] 짝지어 제거하기/KingDonggyu/README.md
Labels: Programmers

#378 pinkishincoloragain Programmers 86053
  Programmers/[86053] 금과 은 운반하기/GoldAndSilver.js
  Programmers/[86053] 금과 은 운반하기/README.md
Labels: Programmers

#360 pinkishincoloragain: [12973] 짝지어 제거하기
  Programmers/[12973] 짝지어 제거하기/pinkishincoloragain/12973.js
  Programmers/[12973] 짝지어 제거하기/pinkishincoloragain/README.md
Labels: Programmers

#359 pinkishincoloragain: [12899] 124 나라의 숫자
  Programmers/[12899] 124 나라의 숫자/pinkishincoloragain/12899.py
  Programmers/[12899] 124 나라의 숫자/pinkishincoloragain/README.md
Labels: Programmers

#373 pinkishincoloragain Programmers 77486
  Programmers/[77486] 다단계 칫솔 판매/README.md
  Programmers/[77486] 다단계 칫솔 판매/pinkishincoloragain/Dadangye3.js
Labels: Programmers

#379 woong-jae: [77485] 행렬 테두리 회전하기
  Programmers/[77485] 행렬 테두리 회전하기/woong-jae/77485.js
  Programmers/[77485] 행렬 테두리 회전하기/woong-jae/README.md
Labels: Programmers

#383 woong-jae: [86052] 빛의 경로 사이클
  Programmers/[86052] 빛의 경로 사이클/woong-jae/86052.js
  Programmers/[86052] 빛의 경로 사이클/woong-jae/README.md
Labels: Programmers

#386 woong-jae: [76503] 모두 0으로 만들기
  Programmers/[76503] 모두 0으로 만들기/woong-jae/76503.js
  Programmers/[76503] 모두 0으로 만들기/woong-jae/README.md
Labels: Programmers

#394 woong-jae: [77886] 110 옮기기
  Programmers/[77886] 110 옮기기/woong-jae/77886.js
  Programmers/[77886] 110 옮기기/woong-jae/README.md
Labels: Programmers

#405 woong-jae: [49995] 쿠키 구입
  Programmers/[49995] 쿠키 구입/woong-jae/49995.js
  Programmers/[49995] 쿠키 구입/woong-jae/README.md
Labels: Programmers

#380 ONE: [77485] 행렬 테두리 회전하기
  Programmers/[77485] 행렬 테두리 회전하기/ONE/77485.java
  Programmers/[77485] 행렬 테두리 회전하기/ONE/README.md
Labels: Programmers

#382 ONE: [86052] 빛의 경로 사이클
  Programmers/[86052] 빛의 경로 사이클/ONE/86052.java
  Programmers/[86052] 빛의 경로 사이클/ONE/README.md
Labels: Programmers

#388 ONE: [76503] 모두 0으로 만들기
  Programmers/[76503] 모두 0으로 만들기/ONE/76503.java
  Programmers/[76503] 모두 0으로 만들기/ONE/README.md
Labels: Programmers

#398 ONE: [49995] 쿠키 구입
  Programmers/[49995] 쿠키 구입/ONE/49995.java
  Programmers/[49995] 쿠키 구입/ONE/README.md
Labels: Programmers

#393 ONE: [77886] 110 옮기기
  Programmers/[77886] 110 옮기기/ONE/77886.java
  Programmers/[77886] 110 옮기기/ONE/README.md
Labels: Programmers

#401 Johoseong: [49995] 쿠키 구입
  Programmers/[49995] 쿠키 구입/Johoseong/49995.py
  Programmers/[49995] 쿠키 구입/Johoseong/README.md
Labels: Programmers

#392 pinkishincoloragain: [77485] 행렬 테두리 회전하기
  Programmers/[77485] 행렬 테두리 회전하기/pinkishincoloragain/README.md
  Programmers/[77485] 행렬 테두리 회전하기/pinkishincoloragain/Rotate-1.js
Labels: Programmers

#403 pinkishincoloragain: [86052] 빛의 경로 사이클
  Programmers/[86052] 빛의 경로 사이클/pinkishincoloragain/LightRoute-3.js
  Programmers/[86052] 빛의 경로 사이클/pinkishincoloragain/README.md
Labels: Programmers

#404 pinkishincoloragain: [76053] 모두 0으로 만들기
  Programmers/[76503] 모두 0으로 만들기/pinkishincoloragain/All0.js
  Programmers/[76503] 모두 0으로 만들기/pinkishincoloragain/README.md
Labels: Programmers

#407 pinkishincoloragain: [49995] 쿠키 구입
  Programmers/[49995] 쿠키 구입/pinkishincoloragain/MoveCookie-1.js
  Programmers/[49995] 쿠키 구입/pinkishincoloragain/README.md
Labels: Programmers

#406 pinkishincoloragain: [77886] 110 옮기기
  Programmers/[77886] 110 옮기기/pinkishincoloragain/Make110-4.js
  Programmers/[77886] 110 옮기기/pinkishincoloragain/README.md
Labels: Programmers

#400 Johoseong: [77886] 110 옮기기
  Programmers/[77886] 110 옮기기/Johoseong/77886.py
  Programmers/[77886] 110 옮기기/Johoseong/README.md
Labels: Programmers

#384 Johoseong: [77485] 행렬 테두리 회전하기
  Programmers/[77485] 행렬 테두리 회전하기/Johoseong/77485.py
  Programmers/[77485] 행렬 테두리 회전하기/Johoseong/README.md
Labels: Programmers

#387 Johoseong: [86052] 빛의 경로 사이클
  Programmers/[86052] 빛의 경로 사이클/Johoseong/86052.py
  Programmers/[86052] 빛의 경로 사이클/Johoseong/README.md
Labels: Programmers

#395 Johoseong: [76503] 모두 0으로 만들기
  Programmers/[76503] 모두 0으로 만들기/Johoseong/76503.py
  Programmers/[76503] 모두 0으로 만들기/Johoseong/README.md
Labels: Programmers

#381 SUbbb: [77485] 행렬 테두리 회전하기
  Programmers/[77485] 행렬 테두리 회전하기/SUbbb/77485.java
  Programmers/[77485] 행렬 테두리 회전하기/SUbbb/README.md
Labels: Programmers

#389 SUbbb: [86052] 빛의 경로 사이클
  Programmers/[86052] 빛의 경로 사이클/SUbbb/86052.java
  Programmers/[86052] 빛의 경로 사이클/SUbbb/README.md
Labels: Programmers

#391 SUbbb: [76503] 모두 0으로 만들기
  Programmers/[76503] 모두 0으로 만들기/SUbbb/76503.java
  Programmers/[76503] 모두 0으로 만들기/SUbbb/README.md
Labels: Programmers

#397 SUbbb: [77886] 110 옮기기
  Programmers/[77886] 110 옮기기/SUbbb/77886.java
  Programmers/[77886] 110 옮기기/SUbbb/README.md
Labels: Programmers

#399 SUbbb: [49995] 쿠키 구입
  Programmers/[49995] 쿠키 구입/SUbbb/49995.java
  Programmers/[49995] 쿠키 구입/SUbbb/README.md
Labels: Programmers

#390 JFe: [77485] 행렬 테두리 회전하기
  Programmers/[77485] 행렬 테두리 회전하기/JFe/77485.py
  Programmers/[77485] 행렬 테두리 회전하기/JFe/README.md
Labels: Programmers

#396 JFe: [86052] 빛의 경로 사이클
  Programmers/[86052] 빛의 경로 사이클/JFe/86052.py
  Programmers/[86052] 빛의 경로 사이클/JFe/README.md
Labels: Programmers

#429 Johoseong: [86054] 안티세포
  Programmers/[86054] 안티세포/Johoseong/86054.py
  Programmers/[86054] 안티세포/Johoseong/README.md
Labels: Programmers, Fail

#421 JFe: [12985] 예상 대진표
  Programmers/[12985] 예상 대진표/JFe/12985.py
  Programmers/[12985] 예상 대진표/JFe/README.md
Labels: Programmers

#423 Johoseong: [87391] 공 이동 시뮬레이션
  Programmers/[87391] 공 이동 시뮬레이션/Johoseong/87391.py
  Programmers/[87391] 공 이동 시뮬레이션/Johoseong/README.md
Labels: Programmers

#410 SUbbb: [12985] 예상 대진표
  Programmers/[12985] 예상 대진표/SUbbb/12985.java
  Programmers/[12985] 예상 대진표/SUbbb/README.md
Labels: Programmers

#415 Johoseong: [12985] 예상 대진표
  Programmers/[12985] 예상 대진표/Johoseong/12985.py
  Programmers/[12985] 예상 대진표/Johoseong/README.md
Labels: Programmers

#411 SUbbb: [76502] 괄호 회전하기
  Programmers/[76502] 괄호 회전하기/SUbbb/76502.java
  Programmers/[76502] 괄호 회전하기/SUbbb/README.md
Labels: Programmers

#418 Johoseong: [76502] 괄호 회전하기
  Programmers/[76502] 괄호 회전하기/Johoseong/76502.py
  Programmers/[76502] 괄호 회전하기/Johoseong/README.md
Labels: Programmers

#417 SUbbb: [87694] 아이템 줍기
  Programmers/[87694] 아이템 줍기/SUbbb/87694.java
  Programmers/[87694] 아이템 줍기/SUbbb/README.md
Labels: Programmers

#420 Johoseong: [87694] 아이템 줍기
  Programmers/[87694] 아이템 줍기/Johoseong/87694.py
  Programmers/[87694] 아이템 줍기/Johoseong/README.md
Labels: Programmers

#419 SUbbb: [87391] 공 이동 시뮬레이션
  Programmers/[87391] 공 이동 시뮬레이션/SUbbb/87391.java
  Programmers/[87391] 공 이동 시뮬레이션/SUbbb/README.md
Labels: Programmers

#425 JFe: [76502] 괄호 회전하기
  Programmers/[76502] 괄호 회전하기/JFe/76502.py
  Programmers/[76502] 괄호 회전하기/JFe/README.md
Labels: Programmers

#427 JFe: [87694] 아이템 줍기
  Programmers/[87694] 아이템 줍기/JFe/87694.py
  Programmers/[87694] 아이템 줍기/JFe/README.md
Labels: Programmers

#428 JFe: [87391] 공 이동 시뮬레이션
  Programmers/[87391] 공 이동 시뮬레이션/JFe/87391.py
  Programmers/[87391] 공 이동 시뮬레이션/JFe/README.md
Labels: Programmers

#430 SUbbb: [86054] 안티세포
  Programmers/[86054] 안티세포/SUbbb/86054.java
  Programmers/[86054] 안티세포/SUbbb/README.md
Labels: Programmers, Fail

#409 ONE: [12985] 예상 대진표
  Programmers/[12985] 예상 대진표/ONE/12985.java
  Programmers/[12985] 예상 대진표/ONE/README.md
Labels: Programmers

#412 ONE: [76502] 괄호 회전하기
  Programmers/[76502] 괄호 회전하기/ONE/76502.java
  Programmers/[76502] 괄호 회전하기/ONE/README.md
Labels: Programmers

#414 ONE: [87694] 아이템 줍기
  Programmers/[87694] 아이템 줍기/ONE/87694.java
  Programmers/[87694] 아이템 줍기/ONE/README.md
Labels: Programmers

#424 ONE: [87391] 공 이동 시뮬레이션
  Programmers/[87391] 공 이동 시뮬레이션/ONE/87391.java
  Programmers/[87391] 공 이동 시뮬레이션/ONE/README.md
Labels: Programmers

#408 woong-jae: [12985] 예상 대진표
  Programmers/[12985] 예상 대진표/woong-jae/12985.js
  Programmers/[12985] 예상 대진표/woong-jae/README.md
Labels: Programmers

#413 woong-jae: [76502] 괄호 회전하기
  Programmers/[76502] 괄호 회전하기/woong-jae/76502.js
  Programmers/[76502] 괄호 회전하기/woong-jae/README.md
Labels: Programmers

#416 woong-jae: [87694] 아이템 줍기
  Programmers/[87694] 아이템 줍기/woong-jae/87694.js
  Programmers/[87694] 아이템 줍기/woong-jae/README.md
Labels: Programmers

#422 woong-jae: [87391] 공 이동 시뮬레이션
  Programmers/[87391] 공 이동 시뮬레이션/woong-jae/87391.js
  Programmers/[87391] 공 이동 시뮬레이션/woong-jae/README.md
Labels: Programmers

#426 woong-jae: [86054] 안티세포
  Programmers/[86054] 안티세포/woong-jae/86054_fail.js
  Programmers/[86054] 안티세포/woong-jae/README.md
Labels: Programmers, Fail

#431 ONE: [16172] 나는 친구가 적다 (Large)
  BOJ/[16172] 나는 친구가 적다 (Large)/ONE/16172.java
  BOJ/[16172] 나는 친구가 적다 (Large)/ONE/README.md
Labels: BOJ

#433 ONE: [2800] 괄호 제거
  BOJ/[2800] 괄호 제거/ONE/2800.java
  BOJ/[2800] 괄호 제거/ONE/README.md
Labels: BOJ

#437 ONE: [12908] 텔레포트 3
  BOJ/[12908] 텔레포트 3/ONE/12908.java
  BOJ/[12908] 텔레포트 3/ONE/README.md
Labels: BOJ

#443 ONE: [2026] 소풍
  BOJ/[2026] 소풍/ONE/2026.java
  BOJ/[2026] 소풍/ONE/README.md
Labels: BOJ

#447 ONE: [1726] 로봇
  BOJ/[1726] 로봇/ONE/1726.java
  BOJ/[1726] 로봇/ONE/README.md
Labels: BOJ

#453 Johoseong: [1726] 로봇
  BOJ/[1726] 로봇/Johoseong/1726.py
  BOJ/[1726] 로봇/Johoseong/README.md
Labels: BOJ

#450 Johoseong: [2026] 소풍
  BOJ/[2026] 소풍/Johoseong/2026.py
  BOJ/[2026] 소풍/Johoseong/README.md
Labels: BOJ

#448 Johoseong: [12908] 텔레포트 3
  BOJ/[12908] 텔레포트 3/Johoseong/12908.py
  BOJ/[12908] 텔레포트 3/Johoseong/README.md
Labels: BOJ

#439 Johoseong: [16172] 나는 친구가 적다 (Large)
  BOJ/[16172] 나는 친구가 적다 (Large)/Johoseong/16172.py
  BOJ/[16172] 나는 친구가 적다 (Large)/Johoseong/README.md
Labels: BOJ

#434 KingDonggyu: [16172] 나는 친구가 적다 (Large)
  BOJ/[16172] 나는 친구가 적다 (Large)/KingDonggyu/16172.js
  BOJ/[16172] 나는 친구가 적다 (Large)/KingDonggyu/README.md
Labels: BOJ

#438 KingDonggyu: [2800] 괄호 제거
  BOJ/[2800] 괄호 제거/KingDonggyu/2800.js
  BOJ/[2800] 괄호 제거/KingDonggyu/README.md
Labels: BOJ

#444 KingDonggyu: [12908] 텔레포트 3
  BOJ/[12908] 텔레포트 3/KingDonggyu/12908.js
  BOJ/[12908] 텔레포트 3/KingDonggyu/README.md
Labels: BOJ

#449 KingDonggyu: [2026] 소풍
  BOJ/[2026] 소풍/KingDonggyu/2026.js
  BOJ/[2026] 소풍/KingDonggyu/README.md
Labels: BOJ

#456 KingDonggyu: [1726] 로봇
  BOJ/[1726] 로봇/KingDonggyu/1726.js
  BOJ/[1726] 로봇/KingDonggyu/README.md
Labels: BOJ

#442 JFe: [16172] 나는 친구가 적다 (Large)
  BOJ/[16172] 나는 친구가 적다 (Large)/JFe/16172.py
  BOJ/[16172] 나는 친구가 적다 (Large)/JFe/README.md
Labels: BOJ

#451 JFe: [2800] 괄호 제거
  BOJ/[2800] 괄호 제거/JFe/2800.py
  BOJ/[2800] 괄호 제거/JFe/README.md
Labels: BOJ

#452 JFe: [2026] 소풍
  BOJ/[2026] 소풍/JFe/2026.py
  BOJ/[2026] 소풍/JFe/README.md
Labels: BOJ

#454 JFe: [1726] 로봇
  BOJ/[1726] 로봇/JFe/1726.py
  BOJ/[1726] 로봇/JFe/README.md
Labels: BOJ

#446 woong-jae: [1726] 로봇
  BOJ/[1726] 로봇/woong-jae/1726.js
  BOJ/[1726] 로봇/woong-jae/README.md
Labels: BOJ

#445 woong-jae: [2026] 소풍
  BOJ/[2026] 소풍/woong-jae/2026.js
  BOJ/[2026] 소풍/woong-jae/README.md
Labels: BOJ

#441 woong-jae: [12908] 텔레포트 3
  BOJ/[12908] 텔레포트 3/woong-jae/12908.js
  BOJ/[12908] 텔레포트 3/woong-jae/README.md
Labels: BOJ

#436 woong-jae: [2800] 괄호 제거
  BOJ/[2800] 괄호 제거/woong-jae/2800.js
  BOJ/[2800] 괄호 제거/woong-jae/README.md
Labels: BOJ

#432 woong-jae: [16172]: 나는 친구가 적다 (Large)
  BOJ/[16172] 나는 친구가 적다 (Large)/woong-jae/16172.js
  BOJ/[16172] 나는 친구가 적다 (Large)/woong-jae/README.md
Labels: BOJ
