Repository woong-jae/Algorithm-Crash, pull requests merged in 2022-09, with the labels that each got.

#459 KingDonggyu: [12900] 2 x n 타일링
  Programmers/[12900] 2 x n 타일링/KingDonggyu/12900.js
  Programmers/[12900] 2 x n 타일링/KingDonggyu/README.md
Labels: Programmers

#460 KingDonggyu: [12978] 배달
  Programmers/[12978] 배달/KingDonggyu/12978.js
  Programmers/[12978] 배달/KingDonggyu/README.md
Labels: Programmers

#461 KingDonggyu: [68646] 풍선 터트리기
  Programmers/[68646] 풍선 터트리기/KingDonggyu/68646.js
  Programmers/[68646] 풍선 터트리기/KingDonggyu/README.md
Labels: Programmers

#464 KingDonggyu: [12904] 가장 긴 팰린드롬
  Programmers/[12904] 가장 긴 팰린드롬/KingDonggyu/12904.js
  Programmers/[12904] 가장 긴 팰린드롬/KingDonggyu/README.md
Labels: Programmers

#465 KingDonggyu: [12929] 올바른 괄호의 갯수
  Programmers/[12929] 올바른 괄호의 갯수/KingDonggyu/12929.js
  Programmers/[12929] 올바른 괄호의 갯수/KingDonggyu/README.md
Labels: Programmers

#458 ONE: [12900] 2 x n 타일링
  Programmers/[12900] 2 x n 타일링/ONE/12900.java
  Programmers/[12900] 2 x n 타일링/ONE/README.md
Labels: Programmers

#463 ONE: [12978] 배달
  Programmers/[12978] 배달/ONE/12978.java
  Programmers/[12978] 배달/ONE/README.md
Labels: Programmers

#469 ONE: [68646] 풍선 터트리기
  Programmers/[68646] 풍선 터트리기/ONE/68646.java
  Programmers/[68646] 풍선 터트리기/ONE/README.md
Labels: Programmers

#471 ONE: [12904] 가장 긴 팰린드롬
  Programmers/[12904] 가장 긴 팰린드롬/ONE/12904.java
  Programmers/[12904] 가장 긴 팰린드롬/ONE/README.md
Labels: Programmers

#479 ONE: [12929] 올바른 괄호의 갯수
  Programmers/[12929] 올바른 괄호의 갯수/ONE/12929.java
  Programmers/[12929] 올바른 괄호의 갯수/ONE/README.md
Labels: Programmers

#474 Johoseong: [12978] 배달
  Programmers/[12978] 배달/Johoseong/12978.py
  Programmers/[12978] 배달/Johoseong/README.md
Labels: Programmers

#475 Johoseong: [68646] 풍선 터트리기
  Programmers/[68646] 풍선 터트리기/Johoseong/68646.py
  Programmers/[68646] 풍선 터트리기/Johoseong/README.md
Labels: Programmers

#476 Johoseong: [12904] 가장 긴 팰린드롬
  Programmers/[12904] 가장 긴 팰린드롬/Johoseong/12904.py
  Programmers/[12904] 가장 긴 팰린드롬/Johoseong/README.md
Labels: Programmers

#477 Johoseong: [12929] 올바른 괄호의 갯수
  Programmers/[12929] 올바른 괄호의 갯수/Johoseong/12929.py
  Programmers/[12929] 올바른 괄호의 갯수/Johoseong/README.md
Labels: Programmers

#473 JFe: [12978] 배달
  Programmers/[12978] 배달/JFe/12978.py
  Programmers/[12978] 배달/JFe/README.md
Labels: Programmers

#480 JFe: [12904] 가장 긴 팰린드롬
  Programmers/[12904] 가장 긴 팰린드롬/JFe/12904.py
  Programmers/[12904] 가장 긴 팰린드롬/JFe/README.md
Labels: Programmers

#481 JFe: [12929] 올바른 괄호의 갯수
  Programmers/[12929] 올바른 괄호의 갯수/JFe/12929.py
  Programmers/[12929] 올바른 괄호의 갯수/JFe/README.md
Labels: Programmers

#467 woong-jae: [12978] 배달
  Programmers/[12978] 배달/woong-jae/12978.js
  Programmers/[12978] 배달/woong-jae/README.md
Labels: Programmers

#470 woong-jae: [12904] 가장 긴 팰린드롬
  Programmers/[12904] 가장 긴 팰린드롬/woong-jae/12904.js
  Programmers/[12904] 가장 긴 팰린드롬/woong-jae/README.md
Labels: Programmers

#472 woong-jae: [12929] 올바른 괄호의 갯수
  Programmers/[12929] 올바른 괄호의 갯수/woong-jae/12929.js
  Programmers/[12929] 올바른 괄호의 갯수/woong-jae/README.md
Labels: Programmers

#468 woong-jae: [68646] 풍선 터트리기
  Programmers/[68646] 풍선 터트리기/woong-jae/68646.js
  Programmers/[68646] 풍선 터트리기/woong-jae/README.md
Labels: Programmers

#483 ONE: [68645] 삼각 달팽이
  Programmers/[68645] 삼각 달팽이/ONE/68645.java
  Programmers/[68645] 삼각 달팽이/ONE/README.md
Labels: Programmers

#484 ONE: [70129] 이진 변환 반복하기
  Programmers/[70129] 이진 변환 반복하기/ONE/70129.java
  Programmers/[70129] 이진 변환 반복하기/ONE/README.md
Labels: Programmers

#486 ONE: [12979] 기지국 설치
  Programmers/[12979] 기지국 설치/ONE/12979.java
  Programmers/[12979] 기지국 설치/ONE/README.md
Labels: Programmers

#505 ONE: [12987] 숫자 게임
  Programmers/[12987] 숫자 게임/ONE/12987.java
  Programmers/[12987] 숫자 게임/ONE/README.md
Labels: Programmers

#506 ONE: [12984] 지형 편집
  Programmers/[12984] 지형 편집/ONE/12984.java
  Programmers/[12984] 지형 편집/ONE/README.md
Labels: Programmers

#498 woong-jae: [12984] 지형 편집
  Programmers/[12984] 지형 편집/woong-jae/12984.js
  Programmers/[12984] 지형 편집/woong-jae/README.md
Labels: Programmers

#494 woong-jae: [12987] 숫자 게임
  Programmers/[12987] 숫자 게임/woong-jae/12987.js
  Programmers/[12987] 숫자 게임/woong-jae/README.md
Labels: Programmers

#487 woong-jae: [12979] 기지국 설치
  Programmers/[12979] 기지국 설치/woong-jae/12979.js
  Programmers/[12979] 기지국 설치/woong-jae/README.md
Labels: Programmers

#485 woong-jae: [70129] 이진 변환 반복하기
  Programmers/[70129] 이진 변환 반복하기/woong-jae/70129.js
  Programmers/[70129] 이진 변환 반복하기/woong-jae/README.md
Labels: Programmers

#482 woong-jae: [68645] 삼각 달팽이
  Programmers/[68645] 삼각 달팽이/woong-jae/68645.js
  Programmers/[68645] 삼각 달팽이/woong-jae/README.md
Labels: Programmers

#495 JFe: [68645] 삼각 달팽이
  Programmers/[68645] 삼각 달팽이/JFe/68645.py
  Programmers/[68645] 삼각 달팽이/JFe/README.md
Labels: Programmers

#496 JFe: [70129] 이진 변환 반복하기
  Programmers/[70129] 이진 변환 반복하기/JFe/70129.py
  Programmers/[70129] 이진 변환 반복하기/JFe/README.md
Labels: Programmers

#497 JFe: [12979] 기지국 설치
  Programmers/[12979] 기지국 설치/JFe/12979.py
  Programmers/[12979] 기지국 설치/JFe/README.md
Labels: Programmers

#502 JFe: [12987] 숫자 게임
  Programmers/[12987] 숫자 게임/JFe/12987.py
  Programmers/[12987] 숫자 게임/JFe/README.md
Labels: Programmers

#504 JFe: [12984] 지형 편집
  Programmers/[12984] 지형 편집/JFe/12984.py
  Programmers/[12984] 지형 편집/JFe/README.md
Labels: Programmers

#488 KingDonggyu: [68645] 삼각 달팽이
  Programmers/[68645] 삼각 달팽이/KingDonggyu/68645.js
  Programmers/[68645] 삼각 달팽이/KingDonggyu/README.md
Labels: Programmers

#489 KingDonggyu: [70129] 이진 변환 반복하기
  Programmers/[70129] 이진 변환 반복하기/KingDonggyu/70129.js
  Programmers/[70129] 이진 변환 반복하기/KingDonggyu/README.md
Labels: Programmers

#490 KingDonggyu: [12979] 기지국 설치
  Programmers/[12979] 기지국 설치/KingDonggyu/12979.js
  Programmers/[12979] 기지국 설치/KingDonggyu/README.md
Labels: Programmers

#492 KingDonggyu: [12987] 숫자 게임
  Programmers/[12987] 숫자 게임/KingDonggyu/12987.js
  Programmers/[12987] 숫자 게임/KingDonggyu/README.md
Labels: Programmers

#493 KingDonggyu: [12984] 지형 편집
  Programmers/[12984] 지형 편집/KingDonggyu/12984.js
  Programmers/[12984] 지형 편집/KingDonggyu/README.md
Labels: Programmers

#503 Johoseong: [12984] 지형 편집
  Programmers/[12984] 지형 편집/Johoseong/12984.py
  Programmers/[12984] 지형 편집/Johoseong/README.md
Labels: Programmers, Fail

#501 Johoseong: [12987] 숫자 게임
  Programmers/[12987] 숫자 게임/Johoseong/12987.py
  Programmers/[12987] 숫자 게임/Johoseong/README.md
Labels: Programmers

#500 Johoseong: [12979] 기지국 설치
  Programmers/[12979] 기지국 설치/Johoseong/12979.py
  Programmers/[12979] 기지국 설치/Johoseong/README.md
Labels: Programmers

#499 Johoseong: [70129] 이진 변환 반복하기
  Programmers/[70129] 이진 변환 반복하기/Johoseong/70129.py
  Programmers/[70129] 이진 변환 반복하기/Johoseong/README.md
Labels: Programmers

#491 Johoseong: [68645] 삼각 달팽이
  Programmers/[68645] 삼각 달팽이/Johoseong/68645.py
  Programmers/[68645] 삼각 달팽이/Johoseong/README.md
Labels: Programmers

#507 woong-jae: [1562] 계단 수
  BOJ/[1562] 계단 수/woong-jae/1562.js
  BOJ/[1562] 계단 수/woong-jae/README.md
Labels: BOJ

#512 woong-jae: [1509] 팰린드롬 분할
  BOJ/[1509] 팰린드롬 분할/woong-jae/1509.js
  BOJ/[1509] 팰린드롬 분할/woong-jae/README.md
Labels: BOJ

#513 woong-jae: [2098] 외판원 순회
  BOJ/[2098] 외판원 순회/woong-jae/2098.js
  BOJ/[2098] 외판원 순회/woong-jae/README.md
Labels: BOJ

#518 woong-jae: [2618] 경찰차
  BOJ/[2618] 경찰차/woong-jae/2618.js
  BOJ/[2618] 경찰차/woong-jae/README.md
Labels: BOJ

#520 woong-jae: [1328] 고층 빌딩
  BOJ/[1328] 고층 빌딩/woong-jae/1328.js
  BOJ/[1328] 고층 빌딩/woong-jae/README.md
Labels: BOJ, Fail

#510 ONE: [1562] 계단 수
  BOJ/[1562] 계단 수/ONE/1562.java
  BOJ/[1562] 계단 수/ONE/README.md
Labels: BOJ, Fail

#514 ONE: [1509] 팰린드롬 분할
  BOJ/[1509] 팰린드롬 분할/ONE/1509.java
  BOJ/[1509] 팰린드롬 분할/ONE/README.md
Labels: BOJ, Fail

#526 ONE: [2098] 외판원 순회
  BOJ/[2098] 외판원 순회/ONE/2098.java
  BOJ/[2098] 외판원 순회/ONE/README.md
Labels: BOJ, Fail

#527 ONE: [2618] 경찰차
  BOJ/[2618] 경찰차/ONE/2618.java
  BOJ/[2618] 경찰차/ONE/README.md
Labels: BOJ, Fail

#528 ONE: [1328] 고층 빌딩
  BOJ/[1328] 고층 빌딩/ONE/1328.java
  BOJ/[1328] 고층 빌딩/ONE/README.md
Labels: BOJ, Fail

#508 SUbbb: [1562] 계단 수
  BOJ/[1562] 계단 수/SUbbb/1562.java
  BOJ/[1562] 계단 수/SUbbb/README.md
Labels: BOJ

#515 SUbbb: [1509] 팰린드롬 분할
  BOJ/[1509] 팰린드롬 분할/SUbbb/1509.java
  BOJ/[1509] 팰린드롬 분할/SUbbb/README.md
Labels: BOJ

#521 SUbbb: [2098] 외판원 순회
  BOJ/[2098] 외판원 순회/SUbbb/2098.java
  BOJ/[2098] 외판원 순회/SUbbb/README.md
Labels: BOJ, Fail

#523 SUbbb: [2618] 경찰차
  BOJ/[2618] 경찰차/SUbbb/2618.java
  BOJ/[2618] 경찰차/SUbbb/README.md
Labels: BOJ, Fail

#524 SUbbb: [1328] 고층 빌딩
  BOJ/[1328] 고층 빌딩/SUbbb/1328.java
  BOJ/[1328] 고층 빌딩/SUbbb/README.md
Labels: BOJ, Fail

#509 Johoseong: [1562] 계단 수
  BOJ/[1562] 계단 수/Johoseong/1562.py
  BOJ/[1562] 계단 수/Johoseong/README.md
Labels: BOJ

#511 Johoseong: [1509] 팰린드롬 분할
  BOJ/[1509] 팰린드롬 분할/Johoseong/1509.py
  BOJ/[1509] 팰린드롬 분할/Johoseong/README.md
Labels: BOJ

#517 Johoseong: [2098] 외판원 순회
  BOJ/[2098] 외판원 순회/Johoseong/2098.py
  BOJ/[2098] 외판원 순회/Johoseong/README.md
Labels: BOJ

#525 Johoseong: [2618] 경찰차
  BOJ/[2618] 경찰차/Johoseong/2618.py
  BOJ/[2618] 경찰차/Johoseong/README.md
Labels: BOJ, Fail

#529 Johoseong: [1328] 고층 빌딩
  BOJ/[1328] 고층 빌딩/Johoseong/1328.py
  BOJ/[1328] 고층 빌딩/Johoseong/README.md
Labels: BOJ

#516 JFe: [1562] 계단 수
  BOJ/[1562] 계단 수/JFe/1562.py
  BOJ/[1562] 계단 수/JFe/README.md
Labels: BOJ

#519 JFe: [1509] 팰린드롬 분할
  BOJ/[1509] 팰린드롬 분할/JFe/1509.py
  BOJ/[1509] 팰린드롬 분할/JFe/README.md
Labels: BOJ

#522 JFe: [2098] 외판원 순회
  BOJ/[2098] 외판원 순회/JFe/2098.py
  BOJ/[2098] 외판원 순회/JFe/README.md
Labels: BOJ

#530 JFe: [2618] 경찰차
  BOJ/[2618] 경찰차/JFe/2618.py
  BOJ/[2618] 경찰차/JFe/README.md
Labels: BOJ, Fail

#531 JFe: [1328] 고층 빌딩
  BOJ/[1328] 고층 빌딩/JFe/1328.py
  BOJ/[1328] 고층 빌딩/JFe/README.md
Labels: BOJ, Fail
